<div id="organizer-body">
    <div id="organizer-preview">
        <div id="organizer-preview-selection">
            <%= render :partial => 'preview_selection_for_collections_tab', :locals => { :archive => @archive } %>
        </div>
        <div id="organizer-preview-content">
            <%= render :partial => 'preview_content_for_collections_tab', :locals => { :images => @archive.images } %>
        </div>
    </div>
    <div id="organizer-workspace">
        <div id="organizer-workspace-tabs">
            <ul id="organizer-workspace-tabs-list">
                <li id="organizer-workspace-body-collections-tab" class="organizer-workspace-tab">
                    <div class="organizer-workspace-tab-content">
                        <a class="organizer-workspace-tab-inactive-link" href="#organizer-workspace-body-collections">Collections</a>
                    </div>
                </li>
                <li id="organizer-workspace-body-portfolios-tab" class="organizer-workspace-tab">
                    <div class="organizer-workspace-tab-content">
                        <a class="organizer-workspace-tab-inactive-link" href="#organizer-workspace-body-portfolios">Portfolios</a>
                    </div>
                </li>
            </ul>
        </div>
        <div id="organizer-workspace-body">
            <div id="organizer-workspace-body-collections" class="organizer-workspace-body-tab-content">
                <%= render :partial => 'workspace_collections_tab_content', :locals => { :archive => @archive, :initialRender => true } %>
            </div>
            <div id="organizer-workspace-body-portfolios" class="organizer-workspace-body-tab-content">
                <%= render :partial => 'workspace_portfolios_tab_content', :locals => { :archive => @archive } %>
            </div>
            <%= javascript_tag "var tabsControl =  new MJ_UI.Tabs( 'organizer-workspace-tabs-list',
                                                                   { activeClassName : 'organizer-workspace-tab-active-link',
                                                                     inactiveClassName : 'organizer-workspace-tab-inactive-link' } );" %>
        </div>
    </div>
</div>
