<% initialMainVariant = nil %>
<% if @collection %>
    <% images = @collection.images %>
    <% images.each do | image | %>
        <% image.image_variants.each do | imageVariant | %>
            <% if imageVariant.is_web_default %>
                <% initialMainVariant = imageVariant %>
                <% break %>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<div class="ArchiveHeading">
    <% if @collection %>
        <%= render :partial => "heading", :locals => { :label => "Collection" } %>
    <% end %>
</div>

<div class="ArchiveImageList">
    <% if @collection %>
        <% images = @collection.images.sort %>
        <% images.each do | image | %>
            <% masterVariant = nil %>
            <% mainVariant = nil %>
            <% thumbnailVariant = nil %>
            <% image.image_variants.each do | imageVariant | %>
                <% if imageVariant.is_master %>
                    <% masterVariant = imageVariant %>
                <% end %>
                <% if imageVariant.is_thumbnail %>
                    <% thumbnailVariant = imageVariant %>
                <% end %>
                <% if imageVariant.is_web_default %>
                    <% mainVariant = imageVariant %>
                <% end %>
            <% end %>
            <div class="ArchiveListElement">
                <div class="ArchiveListLink">
                    <% if image.description == nil %>
                        <% description = "?" %>
                    <% else %>
                        <% description = image.description %>
                    <% end %>
                    <%= link_to "> " + description, edit_cm_archive_collection_image_path( @archive, @collection, image ), :class => "NavLink" %>
                </div>
                <% if masterVariant or thumbnailVariant %>
                    <% if thumbnailVariant %>
                        <% thumbnailElem = image_variant_tag thumbnailVariant %>
                    <% else %>
                        <% thumbnailElem = default_thumb_tag masterVariant %>
                    <% end %>
                    <% mainElem = nil %>
                    <% if mainVariant %>
                        <% mainElem = image_variant_tag mainVariant %>
                    <% elsif masterVariant %>
                        <% mainElem = web_tag masterVariant %>
                    <% end %>
                    <% if mainElem %>
                        <div class="ArchiveListThumbnail">
                            <%= link_to_function thumbnailElem do | page |
                                page[:ArchiveMainImage].replace_html mainElem
                             end %>
                        </div>
                    <% else %>
                        <div class="ArchiveListThumbnail">
                            <%= thumbnailElem %>
                        </div>
                    <% end %>
                <% end %>
                <div class="ArchiveListDelete">
                  <%= link_to '> delete image', cm_archive_collection_image_path( @archive, @collection, image ),
                                                :confirm => 'Deleting image and all variants, are you sure?',
                                                :method => :delete,
                                                :class => "NavLink" %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
<div class="ArchiveImageListUpload">
    <%= link_to "> Mupltiple Image Upload", cm_archive_collection_uploader_path( @archive, @collection), :class => "InlineNavLink" %> |
    <%= link_to "> Upload New Image w/ Variant(s)", new_cm_archive_collection_image_path( @archive, @collection), :class => "InlineNavLink" %>
</div>
<div id="ArchiveMainImage" class="ArchiveMainImage">
    <% if initialMainVariant %>
        <%= image_variant_tag initialMainVariant %>
    <% end %>
</div>
