<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TF/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>marek julian ryniejski - content management</title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag "marekjulian" %>
</head>
  <body class="DocRoot">
    <div id="ArchiveNavigation" class="ArchiveNavigation">
      <a class="Logo" href="/cm/" ><LogoMagenta>marek julian</LogoMagenta><LogoGrey> photography - content management<LogoGrey></a>
    </div>
    <%= render :partial => "shared/user_bar" %>
    <%= @content_for_layout %>
    <div class="Debug">
      <% if ENV["RAILS_ENV"] == "development" %>
        <%= debug(params) %>
      <% end %>
    </div>
  </body>
</html>
